<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<ul> <!--  ul define una lista desordenada -->
    <li><a th:href="@{/params/string(texto='Hola mundo')}"> /params/string?texto="Hola mundo"</a></li> <!-- li que especifican los ítems de la lista -->
    <li><a th:href="@{/params/integer(numero=23, numero2=adsd)}"> /params/integer?numero=23</a></li> <!-- <a> crea un enlace a otras páginas de internet -->
    <li><a th:href="@{/params/mix-params(saludo='Cordial saludo', numero=23)}">/params/mix-params</a></li>
    <li><a th:href="@{/params/mix-params-request(saludo='Cordial saludo request', numero=null)}">/params/mix-params-request</a></li>
    <li><a th:href="@{/app/listar}">/app//listar</a></li>
    <li><a th:href="@{/params/string(texto='Hola mundo')}"> /params/string?texto="Hola mundo"</a></li>
</ul>

<h1 th:text=${saludo}></h1>
<h1 th:text="${saludo}"></h1>
<br>
<br>
<h1>saludo html!</h1>
</body>
</html>